html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
    margin: 0;
    pad: 0;
}
/* SIDEBAR SECCTION */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: aqua;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.logo {
    grid-row: 1 / 2 ;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.homeBtn {
    height: 100%;
}

#homeImg {
    
}

.navegation {
    grid-row: 3 /6;
    display: flex;
    flex-direction: column;
    
}

.navBtn {
    height: 100%;
    
}

.extra-options {
    grid-row: 7 / 9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.setBtn {

}

/*HEADBAR SECCTION */
.headbar {
    grid-area: 1 / 2 / 2 / 3;
    background-color: brown;
}

.headbar-top {

}

.search-bar {

}

#universal-search {

}

.profile-navegation {

}

.alert {

}

.user-profile {

}

.headbar-bottom {

}

.user-handle {

}

.handle-container {

}

.greetings {

}

.handle {

}

.media-buttons {

}

.medBtn {

}

/* CONTENT SECCTION*/
.content {
    grid-area: 2 / 2 / 3 / 4;
    background-color: green;
}

.cards {
    display: flex;

}

.card {

}

.related-info {
    display: flex;

}
.announcements-container {

}

.announcement {

}

.trending {

}
.trending-container {

}

.trending-profile{

}

.trending-img {

}

.trending-user-words {

}

.trending-handle {

}

.trending-user-name {
    
}
